extends layout

block layout-content
  div.View
    h1.Banner MESSAGER
    div.NavButtons
      a(href="/login")
        div.NavButton Login
      a(href="/register")
        div.NavButton Register
    h2.Message A Secure Way To Send Messages To Your Friends!
