block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="/favicon.png")
    title #{title} | Messager
    link(rel="stylesheet" href="/style.css")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
  body
    div#root
      block layout-content